#/etc/systemd/system/wssh.service
[Unit]
Description=Service that manages a webserver.

[Service]

ExecStart=/bin/bash -c "cd /home/mchehab/wssh; yarn run prod"
[Install]
WantedBy=multi-user.target
