.terminal-cursor {
  background-color: white;
}

body {
  margin: 0;
}

.docker-browser-console {
  font-family: monospace;
  background-color: black;
  height: 100%;
}

.terminal {
  padding: 5px;
}

button:hover .material-icons {
  display: block !important;
}

.wssh-fab:hover {
  opacity: 1 !important;
}
.wssh-fab {
  position: fixed;
  right: 18px;
  opacity: 0.5;
}

.wssh-tab {
  font-family: monospace;
  text-transform: none;
  font-size: 14px;
}

.wssh-icon {
  display: none;
  right: 5px;
  position: absolute;
  bottom: 14px;
  font-size: 20px;
}

.wssh-new {
  bottom: 18px;
}

.wssh-help {
  bottom: 80px;
}

.notify {
  background-color: white;
  color: #524c4c;
  padding: 0px;
}

.error-notify {
  margin: 0;
  border-left: 2px solid #f5311d;
}

.success-notify {
  margin: 0;
  border-left: 2px solid #4dc657;
}

.info-notify {
  margin: 0;
  border-left: 2px solid #349ef3;
}

.icon-notify {
  box-sizing: border-box;
  margin: 10px 0 10px 15px;
  font-size: 20px !important;
  align-self: flex-start;
  display: inline-block;
}

.success-notify .icon-notify {
  color: #4dc657;
}

.error-notify .icon-notify {
  color: #f5311d;
}

.info-notify .icon-notify {
  color: #349ef3;
}

.container-notify {
  vertical-align: top;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 20px;
}
.title-notify {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.428571429;
}
.body-notify {
  color: #524c4c;
}
.super-container-notify {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  min-height: 40px;
}
