.terminal-cursor {
    background-color: white;
  }

  body {
    margin: 0;
  }

  .docker-browser-console {
    font-family: monospace;
    background-color: black;
    height: 100%;
  }

  .terminal {
    padding: 5px;
  }

  button:hover .material-icons {
    display: block !important;
  }

  .new-terminal:hover {
    opacity: 1 !important;
  }